* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.card {
    width: 250px;
    padding: 1rem;
    border-radius: 5px;
    margin: 20px auto;
    background-color: hsl(0, 0%, 100%);
}

.card-image {
    width: 100%;
    border-radius: inherit;
    object-fit: cover;
    display: block;
}

.card-container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.card-title {
    font-size: 15px;
    margin: 20px 10px;
    text-align: center;
}

.card-description {
    opacity: 0.5;
    text-align: center;
}